
<a class="language" data-route="{{ path('locale', {locale: 'en'}) }}">En</a>
<a class="language" data-route="{{ path('locale', {locale: 'ua'}) }}">Ua</a>
<a class="language" data-route="{{ path('locale', {locale: 'ru'}) }}">Ru</a>
<script src="{{ asset('js/locale.js') }}"></script>



