{% extends 'user/base_user.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
   
   {% for flash_error in app.flashes('verify_email_error') %}
      <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
   {% endfor %}

   {% for success in app.flashes('success') %}
      <div class="alert alert-success" role="alert">{{ success }}</div>
   {% endfor %}

   <div class="menu">
      <ul>
         <li><a href="">My Orders</a></li>
         <li><a href="">Cabinet</a></li>
      </ul>
   </div>
{% endblock %}
